.navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(90, 10, 238);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.2em;
    font-weight: bolder;
}

.item {
    margin-right: 1em;
}

.item a {
    color:#fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
    text-decoration: none;
}